<!doctype html>
<html>

<style>
    .div {
        border: 1px solid red;
        page-break-after:always;
    }
    div img {
        page-break-after:always;
        height: 80%;
        width: 80%;
    }
</style>

<body>

<div>
    <img src="{{ label_url_1 }}">
</div>
<br clear="all" style="page-break-before:always" />


{% if(label_url_2) %}
<div>
    <img src="{{ label_url_2 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}


{% if(label_url_3) %}
<div>
    <img src="{{ label_url_3 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_4) %}
<div>
    <img src="{{ label_url_4 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_5) %}
<div>
    <img src="{{ label_url_5 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_6) %}
<div>
    <img src="{{ label_url_6 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_7) %}
<div>
    <img src="{{ label_url_7 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_8) %}
<div>
    <img src="{{ label_url_8 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_9) %}
<div>
    <img src="{{ label_url_9 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}

{% if(label_url_10) %}
<div>
    <img src="{{ label_url_10 }}">
</div>
<br clear="all" style="page-break-before:always" />
{% endif %}


</body>
</html>